@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<p>Lion City University is Singapore's #1 institute of higher learning. We are renowned for hosting competitions across various Areas of Interest that are well-received among our students and public alike.</p>
