@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<p>Lion City University is Singapore's #1 institute of higher learning. We are renowned for hosting competitions across various Areas of Interest that are well-received among our students and public alike.</p>


<h3>Locate Us</h3>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.739490484449!2d103.7754929505964!3d1.3324389990234238!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da108723f5373f%3A0x6e40e274e72cba1d!2sNgee%20Ann%20Poly!5e0!3m2!1sen!2ssg!4v1627820318560!5m2!1sen!2ssg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>