@model WEB_ASG.Models.Competition
<h1>
    Area of Interest
</h1>
<div class="row row-cols-3">
    @foreach (var comp in ViewData["compList"] as List<Competition>)
    {
        <div class="col text-center">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@comp.CompetitionName</h5>
                    <a class="btn btn-primary text-light" asp-action="Competition" asp-route-compID="@comp.CompetitionID">Details</a>                   
                </div>
            </div>
        </div>
    }
</div>