@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}
@model WEB_ASG.Models.AreaInterest

<h1>Administrator Home</h1>

<h4>Lion City University</h4>

@if ((ViewData["aoiList"] as List<AreaInterest>).Count > 0)
{
    <div class="table-responsive">
        <table id="viewBook" class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Area of Interest ID</th>
                    <th>Area of Interest Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewData["aoiList"] as List<AreaInterest>)
                {
                    <tr>
                        <td>@item.AreaInterestID</td>
                        <td>@item.Name</td>
                        <td>
                            <a asp-action="ViewAreaInterest" asp-controller="Admin"
                                asp-route-aoiID="@item.AreaInterestID">Details</a> |
                            <a asp-action="DeleteAreaInterest" asp-controller="Admin"
                                asp-route-aoiID="@item.AreaInterestID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <span style="color:red">No Area of Interest found!</span>
}
