@{
    ViewData["Title"] = "Index";
    Layout = "_AdminMenu";
}
<div class="row">
    <div class="col-6">
        <h1>Administrator Home</h1>
    </div>
    <div class="col-3">
        <a class="alert-danger" asp-action="EditComp">Edit Competition</a>
    </div>
    <div class="col-3">
        <a class="alert-danger" asp-action="CreateAreaInterest">Create Area of Interest</a>
    </div>
</div>
<h2>Areas of Interest (AOI)</h2>
<div class="row">
    <div class="col text-center">
        <p>Coding</p>
    </div>
    <div class="col text-center">
        <p>Cooking</p>
    </div>
    <div class="col text-center">
        <p>Photography</p>
    </div>
</div>
<div class="row">
    <div class="col text-center">
        <p>Coding</p>
    </div>
    <div class="col text-center">
        <p>Cooking</p>
    </div>
    <div class="col text-center">
        <p>Photography</p>
    </div>
</div>
<div class="row">
    <div class="col text-center">
        <p>Coding</p>
    </div>
    <div class="col text-center">
        <p>Cooking</p>
    </div>
    <div class="col text-center">
        <p>Photography</p>
    </div>
</div>