@model WEB_ASG.Models.Judge

@{
    ViewData["Title"] = "Create";
}

<<h4 class="PageTitle">New Competitor Profile</h4>
<hr />
<form asp-action="Create">
    <fieldset class="FormContent">
        <div class="form-group row">
            <label asp-for="JudgeName"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="JudgeName" class="form-control" />
                <span asp-validation-for="JudgeName"
                      class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="EmailAddr"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="EmailAddr" class="form-control" />
                <span asp-validation-for="EmailAddr"
                      class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Password"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password"
                      class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Salutation"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <select asp-for="Salutation"
                        asp-items="@ViewData["SalutationList"]
 as List<SelectListItem>"
                        class="form-control">
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="AreaInterestID"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <select asp-for="AreaInterestID"
                        asp-items="@ViewData["aoiList"]
 as List<SelectListItem>"
                        class="form-control">
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-9 offset-sm-3">
                <input type="submit" value="Create"
                       class="btn btn-primary" />
            </div>
        </div>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </fieldset>
</form>
