@model IEnumerable<WEB_ASG.Models.Judge>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-center pt-2">
    <h1>Judge Home</h1>
</div>
<div class="row justify-content-center pt-2">
    <div class="m-5">
        <a class="btn btn-danger" asp-action="Create">Create Judge Profile</a>
    </div>
    <div class="m-5">
        <a class="btn btn-danger" asp-action="ViewCriteria">Create Judging Criteria</a>
    </div>
    <div class="m-5">
        <a class="btn btn-danger" asp-action="SelectCompetition">Assign Score for Competitiors</a>
    </div>
</div>
