@model IEnumerable<WEB_ASG.Models.CriteriaViewModel>

@{
    ViewData["Title"] = "ViewCriteria";
}

<h4 style= "margin-bottom:15px" class="PageTitle">View Criteria</h4>
<p style= "margin-bottom:15px"><a asp-action="CreateCriteria">Create New Criteria</a></p>
<!-- Add a partial view to display a list of staff records
 in a tabular format. -->
<partial name="~/Views/Judge/ShowCriteria.cshtml" model="@Model" />

<div>
    <a asp-action="Index">Back to Index</a>
</div>

